{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'registro/estilo.css' %}" rel="stylesheet">
    <title>Cartório</title>
</head>

<body>
    <header>
        Cartório Brasileiro
    </header>
    <div class="pai">
        <div class="navegacao">
            <h2 class="titulonavegacao">Matrícula:</h2>
            <form class="buscamatriculapai" action="{% url 'buscarmatricula' %}" method="post">
                {% csrf_token %}
                <input type="text" name="buscamatricula"><br>
                <button type="submit" class="botaobuscamatricula">Buscar</button><br>
            </form>
            <hr>
            <h2 class="titulonavegacao">
                Busca por documento:
            </h2>
            <form class="buscamatriculapai" action="{% url 'buscadocumento' %}" method="post">
                {% csrf_token %}
                <input type="text" name="buscadocumento"><br>
                <button type="submit" class="botaobuscamatricula">Buscar</button><br>

            </form>
            <hr>
            <div class="linksnavegacao">
                <h2 class="titulonavegacao">Opções:</h2>
                <br>
                <a href="{% url 'novoregistro' %}">Nova matrícula</a><br>
                <a href="{% url 'desdobro' %}">Desdobro</a><br>
                <a href="{% url 'listarregistros' %}">Todos registros</a><br>
                <a href="{% url 'transmitir' %}">transmissão de bens</a>
            </div>
            <br>
            <hr>

        </div>
        <div class="execucao">
            <div class="acesso">

                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'logout' %}">Logout</a>

            </div>
            <div class="corpo">
                <div class="boasvindas">
                    Bem vindo {{ user.username }}
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>