{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'registro/estilo.css' %}" rel="stylesheet">
    <title>Cartório</title>
</head>

<body>
    <header>
        Cartório Brasileiro
    </header>
    <div class="pai">
        <div class="navegacao">

        </div>
        <div class="execucao">
            <div class="acesso">

                <a href="#">Login</a>
                <a href="#">Logout</a>

            </div>
            <div class="corpo">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>