{% extends 'registro/layout.html' %}

{% block body %}
<div class="boasvindas">
    {{ mensagemerro }}
</div>

<div class="pailogin">

    <form class="filhologin" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label>Login:</label>
        <input type="text" name="login" class="inputlogin"><br>
        <label>Senha:</label>
        <input type="password" name="senha"><br>
        <button type="submit" class="botaologin">Enviar</button>

    </form>
</div>
{% endblock %}